{#
/**
 * @file service.html.twig
 * Default theme implementation to present Service data.
 *
 * This template is used when viewing Service pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_service()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('service') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
